/*======================================================================
    IMPORTING
======================================================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* todo: ask Andy for Akkurat license / font files */

/*======================================================================
    GLOBAL VARIABLES AND OVERRIDES
======================================================================*/
:root {
  --content-width: 80rem;

  /* Colours */
  --color--primary: #fff;
  --color--black: #191919;
  --color--dkGrey: #3c3c3b;
  --color--ltGrey: #d8d8d8;

  /* Spacing */
  --riddim: 1.000rem;
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*======================================================================
    MAIN ELEMENT STYLING
======================================================================*/

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -0.11px;
  line-height: 1.2;
}

li {
  list-style: none;
}

a {
  color: var(--color--primary);
  text-decoration: none;
}

strong, b {
  font-weight: 500;
}

img {
  width: 100%;
}

/*======================================================================
    CONTAINER
======================================================================*/

.container {
  max-width: var(--content-width);
  margin: 0 auto;
  display: grid;
  padding-left: calc(var(--riddim) * 2) !important;
  padding-right: calc(var(--riddim) * 2) !important;
}


/*======================================================================
    FLICKITY
======================================================================*/

.flickity-button {
  width: 56px !important;
  height: 56px !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color--primary) !important;
  opacity: 1 !important;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--color-black);
}

.flickity-button.previous {
  left: 96px !important;
}

.flickity-button.previous:before {
  content: '↵';
}

.flickity-button.next {
  right: 96px !important;
}

.flickity-button.next:before {
  content: '↳';
}

.flickity-button svg {
  display: none;
}

.flickity-button:disabled {
  border: solid 1px var(--color--primary);
  background: transparent !important;
  opacity: 1 !important;
  color: var(--color--primary);
  box-shadow: none;
}

.flickity-page-dots {
  bottom: -42px !important;
}

.flickity-page-dots .dot {
  width: 29px !important;
  height: 1px !important;
  border-radius: 0 !important;
  background: var(--color--ltGrey) !important;
  opacity: 1 !important;
}

.flickity-page-dots .is-selected {
  background-color: var(--color--black) !important;
}

.flickity-caption {
  max-width: 296px;
  width: 100%;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: rgba(25, 25, 25, 0.5);
  margin: 70px auto 0 auto;
}


/*======================================================================
    MAIN
======================================================================*/

main {
  padding-top: 83px;
}


/*======================================================================
    HEADER
======================================================================*/

.header {
  background-color: var(--color--black);
  padding: calc(var(--riddim) * 2) 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header .container {
  display: flex;
}

.header a {
  position: relative;
  font-size: .750rem;
  color: var(--color--primary);
}

.header .logo {
  align-self: flex-end;
  text-align: right;
  color: var(--color--primary);
}

.menu a {
  margin-right: calc(var(--riddim) * 6);
}

.menu a:last-of-type {
  margin-right: 0;
}

.menu a[aria-current] {
  color: var(--color--primary);
  font-weight: bold;
}

@media screen and (min-width: 40rem) {
  .header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    margin-right: -.75rem;
  }
}


/*======================================================================
    pageTitle BLOCK
======================================================================*/

.pageTitle {
  grid-template-columns: 3fr 1fr;
  padding: calc(var(--riddim) * 4) 0;
}

.pageTitle__pageName h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color--dkGrey);
}

.pageTitle__meta p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: var(--color--dkGrey);
}


/*======================================================================
    fullWidthGallery
======================================================================*/

.fullWidthGallery__slides div {
  line-height: 0;
  width: 100%;
}

/*    a little media query to control the height of the slides, not sure yet though.
@media screen and (min-width: 1280px) {
  .fullWidthGallery__slides {
    height: 800px
  }
} */


/*======================================================================
    twoColumnCopy BLOCK
======================================================================*/

.twoColumnCopy {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.twoColumnCopy h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color--dkGrey);
  margin-bottom: var(--riddim);
}

.twoColumnCopy h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  color: var(--color--dkGrey);
}

.twoColumnCopy h3 {
  opacity: 0.5;
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  color: var(--color--black);
  margin-bottom: calc(var(--riddim) / 2);
}

.twoColumnCopy__primary {
  max-width: 620px;
}

.twoColumnCopy__primary p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--color--dkGrey);
}

.twoColumnCopy__secondary {
  max-width: 296px;
  text-align: right;
}

.twoColumnCopy__secondary p {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--color--dkGrey);
}


/*======================================================================
    BUILDER STACK
    How should elements behave sat beside each other?
======================================================================*/

.fullWidthGallery + .twoColumnCopy {
  /* twoColumnCopy below a fullWidthGallery */
  margin-top: calc(var(--riddim) * 6);
}

.fullWidthGallery + .twoColumnCopy .twoColumnCopy__primary,
.fullWidthGallery + .twoColumnCopy .twoColumnCopy__secondary,
.twoColumnCopy + .twoColumnCopy .twoColumnCopy__primary,
.twoColumnCopy + .twoColumnCopy .twoColumnCopy__secondary {
  /* twoColumnCopy__prim/sec nested in a twoColumnCopy below a fullWidthGallery */
  /* AND */
  /* multiple twoColumnCopy's sat atop each other */
  /* -- */
  /* this level of nonsense is necessary to target the containers themselves */
  border-top: 1px solid var(--color--ltGrey);
  padding: calc(var(--riddim) * 6) 0;
}

